<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>텍스트 상자와 테이블 예제</title>
</head>
<style>
    table {
      border-collapse: collapse; /* 테두리가 서로 겹치도록 설정 */
      width: 100%; /* 테이블 너비 조정 (선택 사항) */
    }
  
    th, td {
      border: 1px solid black; /* 테두리 스타일 및 두께 설정 */
      padding: 8px; /* 셀 내부 여백 설정 (선택 사항) */
      text-align: left; /* 셀 텍스트 정렬 (선택 사항) */
    }
  </style>
<body>
  <textarea rows="40" cols="500" ><span th:text="${text}"></span></textarea>
  <table style="width: 500px">
    <tr>
      <th>현금여부</th>
      <th>전화번호</th>
      <th>결제 날짜</th>
      <th>거래 총액</th>
    </tr>
    <tr>
      <td th:text=" ${recipt.cash}">현금여부</td>
      <td th:text=" ${recipt.phoneNumber}">전화번호</td>
      <td th:text=" ${recipt.date}">결제날짜</td>
      <td th:text=" ${recipt.sum}">거래총액</td>
    </tr>
  </table>
</body>
</html>
